
<h1 class="title">Choose Your Sailings&nbsp;<span class="pick_one">(Pick one for each box)</span></h1>

<div class="all_aboard" ng-app="app">
	<div ng-controller="CruisesController">
	  <div ng-repeat="cruise in cruises">
	  	<div id="cruise_panel" class=" panel panel-default">
  			<div class="panel-body">			  	
    	  	<div ng-controller="SailingsController">
    	  		<div ng-repeat="sail in sailings">
    	  			<div ng-if="sail.cruise_id == cruise.id">
                <div class="image_and_tag">
                  <img src="{{ sail.main_image }}" class="cruise_picture"/>
       
                  <div id="tag_container">
                    <div ><%= image_tag("tag.png", class: 'tag') %></div>
                    <div class="starting_at">Starting at</div>
                    <div class="starting_price">${{sail.starting_price}}</div>
                  </div>  

                </div>  		  			
    				    <div class="white_board">

                  <div class="cruise_details">{{cruise.name}}-{{cruise.ship_name}}</div>
                  
      				    <h1 class="sailing_title">{{ sail.name }}</h1>

      				    <div ng-controller="SailingOptionsController">
      					    <div class="option_box" ng-repeat="soption in sailing_options">
      					    	<div ng-if="soption.sailing_id == sail.id" >
                        <div class="radio">

                          <input class="radial_input" id="soption{{soption.id}}" type="radio" name="cruisePrice{{sail.id}}" value="{{soption.price}}">
                          <div class="date">{{ soption.date}}</div>
        				        	<div class="price">${{ soption.price}}</div>
                        </div>
      				        </div>
      				    	</div>
      				    </div>
                </div>
    					</div>
    				</div>
    			</div>
        </div>
			</div>
		</div>
	</div>
</div>


<br/>
<br/>
<div class="divider"></div>

<div class="total_footer">

  <div class="you_selected_total">You Selected Sailings Total</div>

  <div class="bottom_container"></div>
  <div class="price_tag">
    <div class="dollar_sign">$</div>

    <input type="text" class="totalSum" value="" readonly="readonly">
  </div>

</div>





