<div class="container" ng-app="CruiseCenter">
  <h1>Cruises</h1>

  <div ng-controller="cruisesController">
    


    <div ng-repeat="cruise in cruises">
      <div>{{ cruise.name }}</div>
      <div>{{ cruise.ship_name }}</div>
      <div ng-repeat="sailing in cruise.sailings"></div>
        <div>{{ sailing.name }}</div>
        <div>{{ sailing.main_image }}</div>
        	
        <div ng-repeat="sailing_option in sailing.sailing_options">
          <div>{{ sailing_option.price}}</div>
          <div>{{ sailing_option.date}}</div>
        </div>
      </div>
  </div>
</div>
