<!DOCTYPE html>
<html >
<head>
  <title>Cruiseline</title>  

  <%= javascript_include_tag 'application'%>
 
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width" />

  <%= csrf_meta_tags %>

  <script>
  	$( document ).ready(function() {


	  $(document).on("click",".all_aboard .radial_input", function() {
        var total = 0;
        $(document).find("input[type=radio]:checked").each(function() {
          total += parseFloat($(this).val());
          });

        $(".totalSum").val(total);
      });
	});
  </script>
</head>
<body>

	

<%= yield %>
	

</body>
</html>
